body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(47, 35, 218);
  color: white;
  padding: 10px;

}

footer {
  background-color: rgb(47, 35, 218);
  color: white;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

h1 {
  margin: 0;
  text-align: center;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

img {
  max-width: 100%;
  height: auto;
  margin: 10px;
}

p {
  text-align: center;
}

/* Para que todas las imágenes tengan el mismo tamaño */
.imagen {
  width: 400px;
  height: 400px;

}

/* Para que las imágenes se muestren en columnas de a dos */
main {
  display: flex;
  flex-wrap: wrap;
}

.imagen {
  margin: 10px;

}

@media screen and (max-width: 600px) {
  .imagen {
    width: 100%;
  }
}

.girar {
  animation: girar 1s ease-in-out;
}

@keyframes girar {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@media only screen and (max-width: 600px) {
  .contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .imagen {
    width: 100%;
  }
}

/* Estilos para la caja de comentarios */
#comentarios {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}

/* Estilos para los campos del formulario */
label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  height: 100px;
}

/* Estilos para el botón de enviar */
input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0062cc;
}

